<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Volumes/Gallifrey/OIT/Spring2011Versions/cst238GuiLab2/lab2DasClock/lab2DasClock.xcodeproj</string>
</dict>
</plist>
